header{
    background-color: rgb(26, 108, 238);
    text-align: center;
}

h1{
    align-self: center;
}

body{
    margin-left: 30%;
    margin-right: 30%;
}
#btn{

    text-align: center;
    color: antiquewhite;
}